.app {
  width: 420px;
  background: red;
  overflow: hidden;
  border-radius: 10px;

}

.header{
    background: blue;
    color: white;
    padding: 20px;
}

.header h1{
    font-size: 20px;
    margin-bottom: 8px;

}

.header p{
    font-size: 14px;
    margin: 0;
}



.form{
    display: flex;
    flex-direction: column;
    padding: 30px;

}