.hero {
  background: linear-gradient( blue, lightblue);
  height: 60vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}