.services {
  display: flex;
  gap: 20px;
  padding: 50px;
  justify-content: center;
}

.card {
  background: green;
  padding: 30px;
  width: 200px;
  text-align: center;
  border-radius: 8px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);

}
