.hero{
   margin-top: 10px;
    padding: 5px;
    background-color: lightblue;
}

.button{
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}