 @media (max-width: 700px) {

  .header {
    flex-direction: column;
    gap: 10px;
  }

  .services {
    flex-direction: column;
    align-items: center;
  }

  .hero {
    height: 50vh;
    text-align: center;
    background: linear-gradient(111deg, #33401c,  #2D3864 );
  }
}